<head>
  <title>siteace</title>
</head>

<body>
	<!-- navbar  - you will be putting the login functions here -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
	    <div class="navbar-header">
	        <a class="navbar-brand" href="/">
	          Site Ace
	        </a>
		<div class="container" id="sign_in">
		 {{> loginButtons}}
		 </div>
		</div>
  </div>
</nav>
<div class="container" id="welcome_user">
	<h1>Welcome {{username}}</h1>
	<p>Add web-sites worth seeing, see and rate others!</p>
</div>
</body>


<template name="ApplicationLayout">
	<div class="container">
	{{> yield "main1"}}
	{{> yield "main2"}}
	</div>
</template>


<template name="website_form">
<div id="add" class='col-xs-12'>
	<a class="btn btn-success js-toggle-website-form" href="#">
  		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>
</div>
	<div id="website_form" class="hidden_div">
		<form class="js-save-website-form">
		  <div class="form-group">
		    <label for="url">Site address</label>
		    <input type="text" class="form-control" id="url" placeholder="http://www.mysite.com">
		  </div>
		  <div class="form-group">
		    <label for="title">Title</label>
		    <input type="text" class="form-control" id="title" placeholder="Mysite">
		  </div>
		    <div class="form-group">
		    <label for="description">Description</label>
		    <input type="text" class="form-control" id="description" placeholder="I found this site really useful for ...">
		  </div>

		  <button type="submit" class="btn btn-default js-save-website-form">Add</button>
		  <button type="button" class="btn btn-danger"><a href="/" class="js-cancel-website-form">Cancel</a></button>
		</form>
	</div>

</template>

<!--<template name="comment_form">

	<a id="add" class="btn btn-success js-toggle-comment-form" href="#">
  		<span class="glyphicon glyphicon-plus" aria-hidden="true">Add Comment</span>
	</a>
	<div id="comment_form" class="hidden_div">
		<form class="js-save-comment-form">
		  <div class="form-group">
		    <label for="comment">Your comment</label>
		    <input type="text" class="form-control" id="comment" placeholder="I think this website is...">
		  </div>  
		  <button type="submit" class="btn btn-default js-save-comment-form">Send comment</button>
		</form>
	</div>

</template>-->


<template name="searchBox">
<div class="container">
	<div>
		<ol>
		<div>
				<div class="col-xs-12">
					<div d="search_window" class="col-xs-12 col-md-6"><p1>Search for particular WEB-site:</p1></div>
					<div d="search_window" class="col-xs-12 col-md-6" >{{> EasySearch.Input index=websitesIndex placeholder="Search using tags..."}}</div>
				</div>		
		</div>	
		
			{{#EasySearch.Each index=websitesIndex }}
		<div class="col-xs-12">{{> web_list}}</div>
			{{/EasySearch.Each}}
		</ol>
	</div>
</div>
</template>


<template name="web_list">
<li id="{{__originalId}}">
     {{> website_items}}
</li>
</template>



<template name="website_items">
 <ol id="list" class="col-xs-12">  
	<h3><a href="{{url}}">{{title}}</a></h3>
	<p> <b>Rating: {{rating}} </b></p>
	<p>Date added: {{createdOn}}</p>
	<a href="#" class="btn btn-default js-upvote">
		<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
	</a>
	<a href="#" class="btn btn-default js-downvote">
		<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
	</a>
	<a class="btn btn-info js-more" href="/{{__originalId}}">MORE</a>
	<a class="btn btn-warning js-delete" href="#">DELETE</a>
 </ol>  
</template>


<!-- template that displays individual website entries -->
<template name="website_item">  <!-- for the look of a Website in a list -->
<div class="container" id="single_item">
	<h2><a href="{{url}}">{{title}}</a></h2>
	<p>
		{{description}}
	</p>
	<p> Rating: {{rating}} </p>
	<p>Date added: {{createdOn}}</p>
						<!-- up and down vote buttons -->
	<a href="#" class="btn btn-default js-upvote">
		<span class="glyphicon glyphicon-arrow-up js-upvote" aria-hidden="true"></span>
		{{upvotes}}
	</a>
	<a href="#" class="btn btn-default js-downvote">
		<span class="glyphicon glyphicon-arrow-down js-downvote" aria-hidden="true"></span>
		{{downvotes}}
	</a>
	{{> commentsBox id=_id}} 
 	{{> post}}
 </div>
</template>


<template name='myComments'>
		<ul>
			{{#each comment}}
		<li>{{content}}</li>
			{{/each}}
		</ul>
</template>


<template name="post">
	{{> commentsBox id=post._id customTemplate="myComments"}}
</template>



