/* CSS declarations go here */
.hidden_div{
	display:none;
}


body {
	padding-top: 80px;
	/*background-color: #EBF4FA;*/
	background-image: url('Vertical_Stripes.png');
	background-position: center;
	background-size: 100%;
}

li {
	padding: 2%;
}

p1 {
	font-size: 16px;
	color: #FFF;
}

.btn-success {
	width: 50%;
}

#add {
	/*border: 2px solid black;*/
	text-align: center;
	margin-bottom: 20px;
}

.btn-info {
	width: 20%;
	height: 22%;
}


#sign_in {
	padding-top: 15px;
}

#items {
	/*border: 2px solid gray;*/
	margin-bottom: 1%;
	padding-left: 0%;
	background-color: #FFF;
}

.navbar {
	background-color: #25383C;
}

.navbar a {
	color: #FFA62F;	
}

form a:hover{
	text-decoration:none;
	color: #FFF;
}
form a {
	color: #FFF;
}

#welcome_user {
	margin-bottom: 3%;
	text-align: center;
	color:#FFF;
	/*background-color: #FFF;*/
}


#list {
	background-color: #FFF;
	width: 93%;
	padding: 20px;
	opacity: 0.9;
}

#search_window {
	text-align: left;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}

#single_item{
	padding: 5%;
	background-color: #FFF;
	opacity: 0.9;
}

#search_input {
	height: 15px;
	border: 2px solid white;
}
